.selectorWrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}

.selector {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	background-color: var(--color-primary);
	padding: 2rem;
	border-radius: 1rem;
	width: 300px;
}
.label {
	margin: 1rem 0;
}
.input {
	padding: 0.5rem;
}

.buttonGrp {
	display: flex;
	margin-top: 2rem;
	justify-content: space-evenly;
}
.button {
	padding: 0.5rem 1rem;
}

@media (max-width: 700px) {
	.selector {
		width: 80%;
	}
}
