.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2rem auto;
	padding: 1.2rem 4rem;
	font-size: 2rem;
	font-weight: 900;
	width: 90%;
	background-color: rgb(17, 17, 17);
	border-radius: 100px;
	box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
}
.header {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
}

.logo {
	margin-right: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100px;
	border: 0.7rem solid var(--color-secondary);
}
.search {
	width: 2.5rem;
	height: 2.5rem;
}

@media (max-width: 700px) {
	.nav {
		padding: 1.2rem 2rem;
		width: 95%;
	}
	.search {
		width: 30px;
		height: 30px;
	}
	.header {
		font-size: 1.5rem;
	}
	.logo {
		width: 3rem;
		height: 3rem;
		border: 0.8rem solid var(--color-secondary);
	}
}
