.nav {
	font-size: 2rem;
	font-weight: 900;
	width: 90%;
	background-color: rgb(17, 17, 17);
	margin: 2rem auto;
	padding: 1.2rem 2rem;
	border-radius: 100px;
	display: flex;
	align-items: center;
	box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
}
.header {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 1rem;
	width: 4rem;
	height: 4rem;
	border-radius: 100px;
	border: 1rem solid var(--color-secondary);
}
