.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	/* align-items: center; */
	justify-content: center;
}

.tabs {
	display: flex;
	align-items: center;
}
.tabGrp {
	display: flex;
	align-items: center;
}
.tab {
	font-size: 1.6rem;
	padding: 1rem;
	margin-right: 1rem;
	cursor: pointer;
}

.dictionary {
	width: 60vw;
	background: rgb(17, 17, 17);
	margin-top: 3rem;
}

.iframe {
	width: 100%;
	height: 80vh;
	background-color: #fff;
}

@media (max-width: 700px) {
	.dictionary {
		width: 95vw;
	}
}
