.dashboard {
	width: 80%;
	margin: auto;
}
.wordList {
	font-size: 1.8rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.word {
	display: block;
	padding: 1rem 2rem;
	margin: 1rem;
	margin-left: 0rem;
	width: 20%;
	background: rgb(17, 17, 17);
	cursor: pointer;
}

.meta {
	text-align: center;
	font-size: 1.6rem;
}

.header {
	margin-bottom: 1.5rem;
}
.info {
	font-size: 1.5rem;
}

.h2 {
	font-size: 2rem;
	display: flex;
	align-items: center;
	margin-bottom: 0.8rem;
}

.change {
	margin-left: 1rem;
	cursor: pointer;
}

.subtitles {
	font-size: 2rem;
	line-height: 3.5rem;
	width: 100%;
	height: 75vh;
}
.learn {
	background-color: var(--color-secondary);
	margin: 0 0.5rem;
	cursor: pointer;
}

.line,
.line {
	height: 10px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 2rem;
	margin-left: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	height: 2rem;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-secondary);
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1rem;
	width: 2rem;
	left: 4px;
	bottom: 5px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.input:checked + .slider {
	/* background-color: rgb(17, 17, 17); */
}

.input:focus + .slider {
	/* box-shadow: 0 0 1px rgb(17, 17, 17); */
}

.input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider {
	/* border-radius: 1rem; */
}

/* .slider.round:before {
	border-radius: 50%;
} */

@media (max-width: 1000px) {
	.word {
		width: 30%;
	}
}
@media (max-width: 700px) {
	.header {
		/* font-size: 2.5rem; */
	}
	.word {
		width: 45%;
	}
}
@media (max-width: 600px) {
	.word {
		width: 100%;
	}
}
