@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");

:root {
	--color-primary: #181712;
	--color-secondary: #e02929;
}
html,
body {
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: var(--color-primary);
	color: #fff;
	font-size: 62.5%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
