@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");

:root {
	--color-primary: #fff;
	--color-primary-2: rgb(218, 218, 218);
	--color-secondary: #ff8731;
}
html,
body {
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: var(--color-primary);
	color: rgb(22, 22, 22);
	font-size: 62.5%;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}
