.container {
	width: 90%;
	margin: auto;
}

.heading {
	font-size: 2rem;
	margin-bottom: 2rem;
	padding-left: 3rem;
}

.latestShows {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

@media (max-width: 600px) {
	.heading {
		font-size: 2rem;
		margin-bottom: 1.5rem;
		padding-left: 0;
	}
	.container {
		width: 80%;
	}
}
